#m-body {
    margin: 0;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(234, 240, 240);
}

.imgheader {
    height: 30px;
    padding: 20px;
}

.bg-scuro {
    color: #eaeded;
    background-color: #232F3E;
    max-width: auto;
    margin: 0;
}

.bg-giallo {
    color: #ffffff;
    background-color: #f56600;
    width: 100%;
    margin: 20px;
    text-align: center;
}

.p-menu {
    display: inline;
    margin: 20px;
}

.icon {
    margin-left: 20px;
}

.py-0 {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    width: auto;
    text-align: center;
}

.py-1 {
    padding: 5px;
}

.m-l{
    margin-left: 20px;
}

.navbar{
    white-space: nowrap;
    overflow: hidden; 
}

.sezconBg {
    margin: 20px;
    height: 100%;
    background-image: url(assest/bg-image.png);
    background-size: 100%;
    background-size: contain;
    text-align: center;
    color: #FFFFFF;
    padding: 1%;
}

.backgWhite {
    display: flex;
    background-color: #FFFFFF;
    margin: 20px;
    margin-top: 0;
    margin-bottom: -20px;
}

.link1 {
    text-decoration: none;
    color: #036171;
}

.box {
    display: flex;
    background-color: white;
    margin: 20px;
    width: auto;
    word-spacing: 0px;
    vertical-align: top;
    line-height: 1;
    justify-content: space-between; 
}

.card {
    margin: 20px;
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    flex-direction: row;
    display: inline-block;
}

.img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.icone {
    /* display: none; */
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 450px;
}

.card:hover .icone {
    display: block;
    opacity: 1;
    transition: 0.5s;
}

.save {
    color: whitesmoke;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    right: 25px;
    top: 1px;
}

.info {
    position: absolute;
    background-color: rgb(68, 151, 190);
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    top: 270px;
    left: 75px;
}

.imgage img {
    width: 22%;
    height: auto;
    margin: 1em;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgb(150, 148, 148);
}

.m-text {
    text-align: center;
    margin-top: 0px;
    border-top: 0em;
}

.m-large {
    width: 97.5%;
    text-align: center;
}

.bg-dark {
    margin: 0px;
    background-color: #131921;
    max-width: auto;
}

.text-center {
    text-align: center;
    width: auto;
}

#logofooter {
    height: 40px;
    text-align: center;
}

.p-footer {
    padding: 50px;
}

#categories {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.giftCategories-1 {
    display: flex;
    margin: 20px;
    flex-direction: column;
    padding: 2px 20px;
    height: 350px;
    width: 300px;
    background-color: white;
}

.giftCategories-1 img {
    width: 130px;
    height: 100px;
}

.giftCategories-2 {
    display: flex;
    margin: 20px;
    flex-direction: column;
    padding: 2px 20px;
    height: 350px;
    width: 300px;
    background-color: white;
}

.giftCategories-2 img {
    width: 130px;
    height: 100px;
}

.giftCategories-3 {
    display: flex;
    margin: 20px;
    flex-direction: column;
    padding: 2px 20px;
    height: 350px;
    width: 300px;
    background-color: white;
}

.giftCategories-3 img {
    width: 130px;
    height: 100px;
}

.giftCategories-4 {
    display: flex;
    margin: 20px;
    flex-direction: column;
    padding: 2px 20px;
    height: 350px;
    width: 300px;
    background-color: white;
}

.giftCategories-4 img {
    width: 130px;
    height: 100px;
}

h3 {
    font-weight: bold;
    font-size: 1em;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 20em;
    height: 40em;
}

.item {
    width: 10em;
    position: relative;
}